<a [routerLink]="''" routerLinkActive="active">
    go back
</a>
<br>
Name: {{atom.name || "N/A"}}
<br>
Symbol: {{atom.symbol || "N/A"}}
<br>
Atomic number: {{atom.atomicNumber || "N/A"}}
<br>
Atomic mass: {{atom.atomicMass || "N/A"}} Dalton
<br>
Atomic radius: {{atom.atomicRadius || "N/A"}} pm
<br>
Melting point: {{atom.meltingPoint || "N/A"}} Kelvin
<br>
Boiling point: {{atom.boilingPoint || "N/A"}} Kelvin
<br>
Bonding type: {{atom.bondingType || "N/A"}}
<br>
Density: {{atom.density || "N/A"}}
<br>
Electron affinity: {{atom.electronAffinity || "N/A"}}
<br>
Electron negativity: {{atom.electronegativity || "N/A"}}
<br>
Electron configuration: {{atom.electronicConfiguration || "N/A"}}
<br>
Group: {{atom.groupBlock || "N/A"}}
<br>
Ion radius: {{atom.ionRadius || "N/A"}}
<br>
Ionization energy: {{atom.ionizationEnergy || "N/A"}}
<br>
Oxidation states: {{atom.oxidationStates || "N/A"}}
<br>
Standard state: {{atom.standardState || "N/A"}}
<br>
Van Del Waals radius: {{atom.vanDelWaalsRadius || "N/A"}}
<br>
Year discovered: {{atom.yearDiscovered || "N/A"}}